
<div class="container">
<h2> Ask your coach a question?</h2>
<form  action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="questions">
  <input class="btn btn-primary m-2" type="submit" value="Ask!">
</form>
</div>
